*{
  margin: 0;
}

body{
  background-color: rgb(192, 225, 255);
  display: grid;
  grid-template-columns: repeat(4, 25%);
  font-family: Arial, Helvetica, sans-serif;
}

.cont{
  padding: 20px;
  justify-content: center;
  margin: 5% 0%;
}

h1{
  color: rgb(255, 255, 255);
  padding-left: 8%;
  padding-top: 2%;
}

#mes1{
  background-color: #e66c6b;
  padding-bottom: 45px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 80%;
}

#mes2{
  padding: 12px;
  padding-right: px;
}

#contenido{
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 80%;
}

.dias td{
  padding: 5px;
  color: #e66c6b;
  width: 10%;
}

@media screen and (max-width: 1325px){
body{
  grid-template-columns: repeat(3, 1fr);
}
}

@media screen and (max-width: 957px){
body{
  grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 657px){
  body{
    grid-template-columns: repeat(1, 1fr);
}
}